@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<header>
    <h2>Bài Tập</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a>@ViewBag.HoTen</a></li>
            <li><a>@ViewBag.MSSV</a></li>
        </ul>
    </nav>

    <article>
        <table>
            <tbody>
                <tr><td class="blinking">Ngày sinh: 27-02-2004</td></tr>
                <tr><td class="blinking">Sở thích: Đua xe F1, Rally và siêu xe</td></tr>
                
            </tbody>
        </table>
    </article>
</section>

<footer>
    <p>Copyright &copy;@ViewBag.HoTen-@ViewData["Nam"]</p>
</footer>
