﻿
@{
    ViewData["Title"] = "BaiTap2";
}
@model SanPhamViewModel

<h1>@Model.TenSanPham</h1>
<p>Giá: @Model.GiaBan VNĐ</p>
<img src="~/images/mypham.jpg" alt="@Model.TenSanPham" style="width:500px" />
